/htop
/ideavim
/jgit
/pudb
/sdkman
/iterm2
/gh
/libreoffice
/session
/TabNine
/kiorc
/cef_user_data
/discord
/obsidian

trashrc

/QtProject
QtProject.conf

/kde.org
kconf_updaterc
kservicemenurc
baloofileinformationrc
dolphinrc

/pulse
pavucontrol.ini
