/TabNine
/Trash
/applications
/fonts
/icons
/dolphin
/mime
/RecentDocuments
/iwctl
/kb_switcher
/gem
/TelegramDesktop
/qBittorrent

/Steam
/JetBrains
/nix
/onlyoffice
/pnpm
/kotlin

recently-used.xbel
user-places.*
